# Jupyter Notebooks
.ipynb_checkpoints/

# Python Bytecode
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
env/
venv/
*.env

# OS files
Thumbs.db
.DS_Store

# VSCode or PyCharm
.vscode/
.idea/

# Streamlit
.streamlit/
